<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="/css/demo.css"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="/bootstrap/js/bootstrap.js"></script>
    <title>Admin</title>
</head>
<body>
<div class="container">
    <h1>Welcome,<span th:text="${user.name}"></span></h1>
    <div class="seq10"></div>
    <div class="navigator">
        <div class="navigator_link">
            <a class="btn" th:href="@{/admin/postArticle(username=${user.name},password=${user.password})}">Post</a>

            <a class="btn" th:href="@{/admin/profile(username=${user.name},password=${user.password})}">Prof</a>

            <a class="btn" th:href="@{/admin/userAdmin(username=${user.name},password=${user.password})}">User</a>

            <a class="btn" th:href="@{/admin/articleAdmin(username=${user.name},password=${user.password})}">Arts</a>

            <a class="btn" th:href="@{/admin/registerAdmin(username=${user.name},password=${user.password})}">Regs</a>
        </div>
    </div>
    <div class="seq10"></div>
</div>
</body>
</html>