<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="/css/demo.css"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/editormd/editormd.js}" src="/editormd/editormd.js"></script>
    <title>Post</title>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            var editor;
            editor = editormd("editor", {
                width   : "60%",
                height  : 640,
                syncScrolling : "single",
                path    : "/editormd/lib/",
                saveHTMLToTextarea:true

                imageUpload: true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/uploadImage",//注意你后端的上传图片服务地址
                onload: function(){
                    this.width("100%");
                    this.height(480);
                }
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Welcome,<span th:text="${user.name}"></span></h1>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/profile(username=${user.name},password=${user.password})}">Profile</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/userAdmin(username=${user.name},password=${user.password})}">Users</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/articleAdmin(username=${user.name},password=${user.password})}">Articles</a>
            </div>
            <div class="col-md-3" th:if="${user.role_id==1}">
                <a class="btn" th:href="@{/admin/registerAdmin(username=${user.name},password=${user.password})}">RegisterAdmin</a>
            </div>
        </div>
    </div>
    <div class="post">
        <form class="form-control" action="/admin/post">
            <div class="outline">
                <input type="text" th:name="title"/>
                <input type="test" th:name="digit"/>
            </div>
            <div class="editor">
                <textarea class="editormd-markdown-textarea" th:name="editormd-markdown-textarea" id="markdownContent"></textarea>
                <textarea class="editormd-html-textarea" th:name="editormd-html-textarea" id="htmlContent"></textarea>
            </div>
            <input type="submit" value="Post">
        </form>
    </div>

</div>


</body>
</html>