<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../static/bootstrap/css/bootstrap.min.css"/>
    <script th:src="@{/jquery/jquery-3.3.1.min.js}" src="../../static/jquery/jquery-3.3.1.min.js"></script>
    <title>Detail</title>
</head>
<body>
<h1>Detail</h1>
<table class="table-hover">

</table>
</body>
</html>