<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="/css/demo.css"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="/bootstrap/js/bootstrap.js"></script>
    <title>Users Admin</title>
</head>
<body>
<div class="container">
    <h1>Welcome,<span th:text="${user.name}"></span></h1>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/postArticle(username=${user.name},password=${user.password})}">Post</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/profile(username=${user.name},password=${user.password})}">Profile</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/userAdmin(username=${user.name},password=${user.password})}">Users</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/articleAdmin(username=${user.name},password=${user.password})}">Articles</a>
            </div>
            <div class="col-md-3">
                <a class="btn" th:href="@{/admin/registerAdmin(username=${user.name},password=${user.password})}">RegisterAdmin</a>
            </div>
        </div>
    </div>
    <div class="user_panel">
        <table class="table table-hover">
            <tr>
                <td>Register Id</td>
                <td>Name</td>
                <td>Corporation</td>
                <td>Phone</td>
                <td>Email</td>
                <td></td>
            </tr>
            <tr th:each="users:${pageInfo.list}">
                <td th:text="${users.user_id}"></td>
                <td th:text="${users.name}"></td>
                <td th:text="${users.corporation}"></td>
                <th th:text="${users.phone}"></th>
                <td th:text="${users.email}"></td>
                <td>
                    <a class="btn" th:href="@{/admin/alterUser(username=${user.name},password=${user.password},userId=${user.user_id})}">Alter</a>
                    <a class="btn btn-danger" th:href="@{/admin/deleteUser(username=${user.name},password=${user.password},userId=${user.user_id})}">Delete</a>
                </td>
            </tr>
        </table>
        <a class="btn" th:href="@{/admin/userAdmin(username=${user.name},password=${user.password},pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">Previous</a>
        <a class="btn" th:href="@{/admin/userAdmin(username=${user.name},password=${user.password},pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">Next</a>
    </div>
</div>
</body>
</html>