/* CSS style selected by element */
body {
    text-align: center;
}

/* CSS style selected by class */
*.navigator {
    height: 12%;
    background-color: #2e383c;
    opacity: 65%;
}

*.login_index{
    color: #d5d5d5;
    text-underline: none;
    font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: medium;
    margin: 2px;
}

*.regis_index{
    color: #2e383c;
    font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: medium;
    background-color: #d5d5d5;
    border-radius: 5px;
    margin: 2px;
}

*.login {
    text-align: center;
    position: relative;
    left: 35%;
    padding: 10px;
    margin-top: 5%;
    width: 30%;
    border:#d5d5d5 solid thin;
    box-shadow: 10px 10px 5px #d5d5d5;
}

*.register {
    text-align: center;
    position: relative;
    left: 35%;
    padding: 10px;
    margin-top: 5%;
    width: 30%;
    border:#d5d5d5 solid thin;
    box-shadow: 10px 10px 5px #d5d5d5;
}

*.art-card {
    text-align: center;
    border: #d5d5d5 solid thin;
    margin: 10px 10px 10px 10px;
}

*.art-card:hover {
    box-shadow: 10px 10px 5px #d5d5d5;
}

*.view {
    color: gray;
    text-underline: none;
}

*.view:hover {
    color: green;
    text-underline: green;
}

/* CSS style selected by id */
