body {
}

span {
    color: gainsboro;
    text-shadow: #0a001f;
}

.header {
    width: 100%;
    height: 300px;
    background-color: #d5d5d5;
    opacity: 0.7;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.inner {
    float: left;
    width: 75%;
}

.article {
    float: right;
    width: 75%;
    border-bottom: solid #d5d5d5 1px;
    width: 60%;
    height: 175px;
}

.right_inner {
    float: left;
    margin-left: 10px;
    width: 20%;
}

.Category {
    width: 200px;
    background-color: #edffd8;
    opacity: 0.5;
}

.editors {
    width: 200px;
    background-color: #edffd8;
    opacity: 0.5;
}

.pages {
    clear: both;
    margin-top: 20px;
    margin-left: 50%;
}

.article:hover {
    background-color: #7aa6da;
    opacity: 0.3;
    box-shadow: #93a1a1;
}

.comment_content {
    border-bottom: solid #d5d5d5 1px;
}

.footer {
    width: 100%;
    margin-top: 10px;
    height: 300px;
    background-color: #d5d5d5;
    opacity: 0.7;
}

.navigator {
    margin: 0 auto;
    width: 100%;
}
.navigator_link {
}

.login_container {
    text-align: center;
}

.login_form {
    text-align: center;
}

.seq5 {
    display: block;
    max-width: 100%;
    height: 5px;
}

.seq10 {
    display: block;
    max-width: 100%;
    height: 10px;
}

.seq300 {
    display: block;
    max-width: 100%;
    height: 300px;
}