body {
    text-align: center;
    background-image: url(/imgs/background.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: 300px;
    background-color: #d5d5d5;
    opacity: 0.7;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height:1400px;
}

.context {
}

.view_detail {
}

.article {
    background-color: #d5d5d5;
    opacity: 0.8;
    border: solid #d5d5d5 1px;
    width: 60%;
    height: 160px;
}

.article {
    margin: 0 auto;
    margin-bottom: 5px;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #d5d5d5;
    opacity: 0.7;
}

.seq5 {
    display: block;
    max-width: 100%;
    height: 5px;
}

.seq10 {
    display: block;
    max-width: 100%;
    height: 10px;
}

.seq300 {
    display: block;
    max-width: 100%;
    height: 300px;
}