<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
    <link rel="stylesheet" th:href="@{/demo.css}" href="/demo.css">
    <script th:src="@{/jquery/jquery-3.3.1.min.js}" src="/jquery/jquery-3.3.1.min.js"></script>
    <script th:src="@{/editormd/lib/flowchart.min.js}" src="/editormd/lib/flowchar.min.js"></script>
    <script th:src="@{/editormd/lib/jquery.flowchart.min.js}" src="/editormd/lib/jquery.flowchart.min.js"></script>
    <script th:src="@{/editormd/lib/marked.min.js}" src="/editormd/lib/marked.min.js"></script>
    <script th:src="@{/editormd/lib/prettify.min.js}" src="/editormd/lib/prettify.min.js"></script>
    <script th:src="@{/editormd/lib/raphael.min.js}" src="/editormd/lib/raphael.min.js"></script>
    <script th:src="@{/editormd/lib/sequence-diagram.min.js}" src="/editormd/lib/sequence-diagram.min.js"></script>
    <script th:src="@{/editormd/lib/underscore.min.js}" src="/editormd/lib/underscore.min.js"></script>
    <script th:src="@{/editormd/editormd.js}" src="/editormd/editormd.js"></script>
    <title>Article</title>
    <script>
        var testEditor;
        $(function () {
            testEditor = editormd.markdownToHTML("testEditormd", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
                codeFold: true,
            });
        });
    </script>
</head>
<body>
<div align="center">
    <div id="testEditormd">
        <textarea id="test" th:inline="text" style="display: none">[[${user_article.md_content}]]</textarea>
    </div>
    <!--
    <div class="art-card">
        <h2 th:text="${user_article.title}"></h2>
        <p th:text="${user_article.post_time}"></p>
        <p th:text="${user_article.md_content}"></p>
        <p th:text="${user_article.content}"></p>
        <p th:text="${user_article.likes}"></p>
    </div>
    -->
    <div class="com-card">
        <div th:each="comment:${comments}">
            <p th:text="${comment.user_id}"></p>
            <p th:text="${comment.comment_time}"></p>
            <p th:text="${comment.content}"></p>
            <p th:text="${comment.likes}"></p>
        </div>
        <!--
        <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
        <a th:href="@{/article}">首页</a>
        <a th:href="@{/article(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
        <a th:href="@{/article(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
        <a th:href="@{/article(pageNum=${pageInfo.pages} and articleId=${articleId})}">尾页</a>
        -->
    </div>
</div>
</body>
</html>