<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="/css/demo.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="/bootstrap/js/bootstrap.js"></script>
    <script th:src="@{/editormd/lib/flowchart.min.js}" src="/editormd/lib/flowchart.min.js"></script>
    <script th:src="@{/editormd/lib/jquery.flowchart.min.js}" src="/editormd/lib/jquery.flowchart.min.js"></script>
    <script th:src="@{/editormd/lib/marked.min.js}" src="/editormd/lib/marked.min.js"></script>
    <script th:src="@{/editormd/lib/prettify.min.js}" src="/editormd/lib/prettify.min.js"></script>
    <script th:src="@{/editormd/lib/raphael.min.js}" src="/editormd/lib/raphael.min.js"></script>
    <script th:src="@{/editormd/lib/sequence-diagram.min.js}" src="/editormd/lib/sequence-diagram.min.js"></script>
    <script th:src="@{/editormd/lib/underscore.min.js}" src="/editormd/lib/underscore.min.js"></script>
    <script th:src="@{/editormd/editormd.min.js}" src="/editormd/editormd.min.js"></script>
    <title>Article</title>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("testEditormd", {
                htmlDecode      : "style,script,iframe",
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true  // 默认不解析
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div id="view_detail">
        <h1 th:text="${article.title}"></h1>
        <div id="testEditormd">
            <textarea id="test" th:inline="text" style="display: none">[[${article.md_content}]]</textarea>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>