<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="/css/demo.css"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="/bootstrap/js/bootstrap.js"></script>
    <title>Index</title>

</head>
<body>
<div class="header">
    <div class="seq50"></div>
<h1><strong>Leong Chen</strong></h1>
</div>
<div class="seq10"></div>
<div class="wrapper">
    <div class="context">

        <div class="seq10"></div>

        <div class="inner">
            <!--文章卡片-->
            <div class="article" th:each="article:${pageInfo.list}">
                <h1>[[${article.title}]]</h1>
                <p><span>[[${article.author}]]</span></p>
                <p th:text="${article.digit}"></p>
                <span>Likes( [[${article.likes}]] )</span>
                <span>Comments( [[${article.comment_account}]] )</span>
                <form method="post" th:action="article">
                    <input type="text" th:name="article_id" th:value="${article.article_id}" style="display: none"/>
                    <input class="btn" type="submit" value="view more" style="float: right"/>
                </form>
            </div>

        </div>
        <div class="right_inner">
            <!--分类-->
            <p>Category</p>
            <div class="Category">
                <div th:each="category:${categories}">
                    <a class="btn btn-link" th:href="@{/searchByCategory(categoryId=${category.category_id})}" th:text="${category.category_name}"></a>
                </div>
            </div>
            <div class="seq5"></div>
            <!--作者-->
            <p>Authors</p>
            <div class="editors">
                <div th:each="user:${users}">
                    <a class="btn btn-link" th:href="@{/searchByEditors(editorId=${user.user_id})}" th:text="${user.name}"></a>
                </div>
            </div>
            <div class="seq10"></div>
            <div class="search">
                <div class="input-group">
                    <form action="/search" method="post">
                        <span class="input-group-addon"><input type="text"name="searchTitle"/></span>
                        <span class="input-group-addon"><input type="submit" class="btn" value="Go Search"/></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="seq10"></div>
        <!--页码-->
        <div class="pages">
            <a class="btn" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">Prev</a>
            <a class="btn" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">Next</a>
        </div>
        <div class="seq10"></div>
    </div>
</div>
<div class="seq10"></div>
<div class="footer">
    <div class="seq50"></div>
    <div class="container">
        <div class="information">
            <address>
                <strong>LeongChen, Inc.</strong><br>
                New York Fifth Avenue<br>
                <abbr title="Phone">P:</abbr> (+86) 17726110197
            </address>

            <address>
                <strong>Leong Chen</strong><br>
                <a href="mailto:#">17726110197@163.com</a>
            </address>
        </div>
        <div class="contact">
            <address>
                <strong>Twitter @ LeongChen</strong><br>
                <a href="#">Twitter.com</a>
            </address>
            <address>
                <strong>Instagram @ LeongChen</strong><br>
                <a href="#">Instagram.com</a>
            </address>
            <address>
                <strong>Email @ LeongChen</strong><br>
                <a href="#">2015551518@smail.xtu.edu.cn</a>
            </address>
        </div>
    </div>
</div>
</body>
</html>