<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/demo.css}" href="../static/demo.css">
    <script th:src="@{/jquery/jquery-3.3.1.min.js}" src="../static/jquery/jquery-3.3.1.min.js"></script>
    <title>Login</title>
    <script type="text/javascript" th:inline="javascript">
        function upload() {
            $.ajax({
                type:'POST',
                dataType:'TEXT',
                url:"/login",
                data:$('#login').serialize(),
                success:function (data) {
                    alert("SUCCESS");
                },
                error:function () {
                    alert("FAIL");
                }
            }) ;
        }
    </script>
</head>
<body>
<div class="login">
    <h1>Login</h1>
    <form id="login" class="form-inline">
        <p>USERNAME:<input class="form-control" type="text" name="user_id" id="username"/></p>
        <p>PASSWORD:<input class="form-control" type="password" name="password" id="password"/></p>
        <button class="btn btn-primary" onclick="upload()">Login</button>
    </form>
</div>
</body>
</html>