<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
    <link rel="stylesheet" th:href="@{/demo.css}" href="/demo.css">
    <script th:src="@{/jquery/jquery-3.3.1.min.js}" src="/jquery/jquery-3.3.1.min.js"></script>
    <script th:src="@{/editormd/editormd.js}" src="/editormd/editormd.js"></script>
    <title>Post</title>
    <script type="text/javascript">
        $(function() {
            editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                path    : "/editormd/lib/"
            });
        });
    </script>
</head>
<body>
<div class="navigator">
    <div th:if="${user}" style="color: lightyellow">
        <p th:text="${user.name}"></p>
    </div>
</div>
<div id="post-article">
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>
<!--
<div class="post_article">
    <form th:action="post">
        <span>Title:</span>
        <input type="text" th:name="title" th:placeholder="TITLE"/>
        <span>Category:</span>
        <input type="text" th:name="category" th:placeholder="CATEGORY"/>
        <span>Content</span>
        <textarea th:name="content" th:placeholder="CONTENT"></textarea>
        <input type="submit" th:value="POST"/>
    </form>
</div>
-->
</body>
</html>