<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="/bootstrap/css/bootstrap.min.css"/>
    <script th:src="@{/jquery/jquery-3.3.1.min.js}" src="/jquery/jquery-3.3.1.min.js"></script>
    <title>Register</title>
</head>
<body>
<div class="register" align="center">
    <form th:action="register">
        <h2>Register</h2>
        <p>ID:<input type="text" th:name="name"/></p>
        <p>PASSWORD:<input type="password" th:name="password"/></p>
        <p th:text="${msg}"></p>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>